<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>[Smile]</key>
	<string>1</string>
	<key>[Twitch]</key>
	<string>2</string>
	<key>[Squint]</key>
	<string>3</string>
	<key>[Daze]</key>
	<string>4</string>
	<key>[Proud]</key>
	<string>5</string>
	<key>[Tears]</key>
	<string>6</string>
	<key>[Shy]</key>
	<string>7</string>
	<key>[Shut up]</key>
	<string>8</string>
	<key>[Sleep]</key>
	<string>9</string>
	<key>[Crying]</key>
	<string>10</string>
	<key>[Awkward]</key>
	<string>11</string>
	<key>[Angry]</key>
	<string>12</string>
	<key>[Naughty]</key>
	<string>13</string>
	<key>[Babble]</key>
	<string>14</string>
	<key>[Surprised]</key>
	<string>15</string>
	<key>[Sad]</key>
	<string>16</string>
	<key>[Cool]</key>
	<string>17</string>
	<key>[Oops]</key>
	<string>18</string>
	<key>[Manic]</key>
	<string>19</string>
	<key>[Vomiting]</key>
	<string>20</string>
	<key>[Chuckle]</key>
	<string>21</string>
	<key>[happy]</key>
	<string>22</string>
	<key>[Stare]</key>
	<string>23</string>
	<key>[Arrogant]</key>
	<string>24</string>
	<key>[Hungry]</key>
	<string>25</string>
	<key>[Sleepy]</key>
	<string>26</string>
	<key>[Terror]</key>
	<string>27</string>
	<key>[Sweat]</key>
	<string>28</string>
	<key>[Giggle]</key>
	<string>29</string>
	<key>[Sobbing]</key>
	<string>30</string>
	<key>[Struggle]</key>
	<string>31</string>
	<key>[Curse]</key>
	<string>32</string>
	<key>[Doubt]</key>
	<string>33</string>
	<key>[Shhh]</key>
	<string>34</string>
	<key>[Gosh]</key>
	<string>35</string>
	<key>[Crazy]</key>
	<string>36</string>
	<key>[Uncomfortable]</key>
	<string>37</string>
	<key>[Happy]</key>
	<string>38</string>
	<key>[Busy]</key>
	<string>39</string>
	<key>[Goodbye]</key>
	<string>40</string>
	<key>[Wiping]</key>
	<string>41</string>
	<key>[Pick the nose]</key>
	<string>42</string>
	<key>[Playfully]</key>
	<string>43</string>
	<key>[Shame]</key>
	<string>44</string>
	<key>[Smirk]</key>
	<string>45</string>
	<key>[Celebrate]</key>
	<string>46</string>
	<key>[Clown]</key>
	<string>47</string>
	<key>[Yawn]</key>
	<string>48</string>
	<key>[Despise]</key>
	<string>49</string>
	<key>[Wronged]</key>
	<string>50</string>
	<key>[Scared cry]</key>
	<string>51</string>
	<key>[Sinister]</key>
	<string>52</string>
	<key>[Kiss]</key>
	<string>53</string>
	<key>[Scare]</key>
	<string>54</string>
	<key>[Poor]</key>
	<string>55</string>
	<key>[Grimace]</key>
	<string>56</string>
	<key>[Nosebleeds]</key>
	<string>57</string>
	<key>[Cover face]</key>
	<string>58</string>
	<key>[Thinking]</key>
	<string>59</string>
	<key>[Laugh and cry]</key>
	<string>60</string>
	<key>[Applaud]</key>
	<string>61</string>
	<key>[Please]</key>
	<string>62</string>
	<key>[Rainbow]</key>
	<string>63</string>
	<key>[Got sick]</key>
	<string>64</string>
	<key>[Awkward smile]</key>
	<string>65</string>
	<key>[Comfortable]</key>
	<string>66</string>
	<key>[Diving]</key>
	<string>67</string>
	<key>[Sorry]</key>
	<string>68</string>
	<key>[Miser]</key>
	<string>69</string>
	<key>[Angel]</key>
	<string>70</string>
	<key>[Crazy pull]</key>
	<string>71</string>
	<key>[Sun]</key>
	<string>72</string>
	<key>[Good night]</key>
	<string>73</string>
	<key>[Hug]</key>
	<string>74</string>
	<key>[Like]</key>
	<string>75</string>
	<key>[OK]</key>
	<string>76</string>
	<key>[Bixin]</key>
	<string>77</string>
	<key>[Rose]</key>
	<string>78</string>
	<key>[Withered]</key>
	<string>79</string>
	<key>[Cake]</key>
	<string>80</string>
	<key>[Decline]</key>
	<string>81</string>
	<key>[Skeleton]</key>
	<string>82</string>
	<key>[Watermelon]</key>
	<string>83</string>
	<key>[Beer]</key>
	<string>84</string>
	<key>[Basketball]</key>
	<string>85</string>
	<key>[kiss]</key>
	<string>86</string>
	<key>[Love]</key>
	<string>87</string>
	<key>[Heartbreak]</key>
	<string>88</string>
	<key>[Wow]</key>
	<string>89</string>
	<key>[Cheers]</key>
	<string>90</string>
</dict>
</plist>
